<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: isNavbarCollapsed }"
      id="navbarNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link nav-bar__link"
            (click)="navigateToMainTable()"
            routerLink="/main-table"
            aria-current="page"
            >Загальна таблиця</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-bar__link"
            routerLink="/short-information"
            (click)="navigateToShortInformation()"
            >Коротка інформація</a
          >
        </li>
      </ul>
      Finance Dashboard
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
