<div class="container mt-5">
  <h2>Bootstrap Table</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="th">id</th>
        <th class="th">user</th>
        <th class="th">issuance date</th>
        <th class="th">return date</th>
        <th class="th">actual return date</th>
        <th class="th">body</th>
        <th class="th">percent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index; trackBy: trackByUserId">
        <td>{{ user.id }}</td>
        <td>{{ user.user }}</td>
        <td>{{ user.issuance_date }}</td>
        <td>{{ user.return_date }}</td>
        <td>{{ user.actual_return_date }}</td>
        <td>{{ user.body }}</td>
        <td>{{ user.percent }}</td>
      </tr>
    </tbody>
  </table>
</div>
