<app-filters-panel (filterChange)="onFilterChange($event)"></app-filters-panel>

<div class="container mt-5">
  <h2>Загальна таблиця</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>id</th>
          <th>user</th>
          <th>issuance date</th>
          <th>return date</th>
          <th>actual return date</th>
          <th>body</th>
          <th>percent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers$ | async; trackBy: trackByUserId">
          <td>{{ user.id }}</td>
          <td>{{ user.user }}</td>
          <td>{{ user.issuance_date }}</td>
          <td>{{ user.return_date }}</td>
          <td>{{ user.actual_return_date }}</td>
          <td>{{ user.body }}</td>
          <td>{{ user.percent }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
